// BOTONES DARK Y LIGHT:

.btn-light{
    background-color: #fff;
    color: #000000;
}

// FIN Botones Dark y Light.

// CAMBIOS DARK MODE:

.darkMode {
    background-color: #444444;
}

.darkMode .menu1 {
    background-color: #afb0b1;
}

.darkMode .card {
    color: black;
    background: #afb0b1;
}

.darkMode .card-body {
    background-color: #afb0b1;
}

.darkMode .modal-body{
    background-color: #afb0b1;
}

.darkMode .modal-footer{
    background-color: #afb0b1;
}

.darkMode #precioTotal{
    background-color: #afb0b1;
}

.darkMode .noCoincidencia{
    color: white;
}

// FIN CAMBIOS DARK MODE.