h2.logo{
    color: black;
    margin-top: 0px !important;
}

#Carga{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
height: 100%;
gap: 2em;
}

h2#loaderTexto{
    color: rgb(2, 2, 2) !important;
    font-family: "Montserrat";
    font-size: 2em; 
    margin-top: 1em;
}

.spinner-border.text-success{
color: rgb(0, 0, 0) !important;
        --bs-spinner-width: 5rem;
        --bs-spinner-height: 5rem; 
margin-top: 1em;

}

#inicioImg{

    height: auto;
    width: 60%;
    margin-bottom: 2em;

    @media (min-width: 600px) {
        width: 30%;
    }

}

