// FNC buscarInfo H3 NO COINCIDENCIA:

.noCoincidencia{

    color: black; 
    padding: 1rem;
    width: 80%;
    border-radius: 1rem; 
    margin-left: 10%;
    margin-right: 10%; 
    height: 20vh; 
    font-size: 26px;

}

// FIN FNC buscarInfo DIV NO COINCIDENCIA.

// MARGEN MODAL CARRITO PARA CENTRAR LAS CARDS EN MOBILE:

.modal {
    --bs-modal-margin: 5.5rem;
}

// FIN MARGEN MODAL CARRITO PARA CENTRAR LAS CARDS EN MOBILE:
