.my-swal-button {
    font-size: 1.70em;
    border: 0;
    border-radius: 0.25em;
    background: initial;
    display: inline-block;
    background-color: rgb(13, 110, 253);
    color: #fff;
    padding: 0.70em;
    border-radius: 0.70em;
}