@import "fuentes";

@import "generales";

body{
    background-color:#EBEBEB;
    font-family: "Montserrat"; 
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #0D6EFD;
}

body::-webkit-scrollbar-track {
    background: rgb(8, 15, 40);
}

header{
    height: 10em;
    background-color: #080a0e;
}

.logo{
    font-family: "Orbitron";
    font-size: 50px;
    font-weight: 600;
    color: white;
    display: flex;
    
}


.menu1{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background: #001428;
    background-repeat: no-repeat;
    background-size:auto;
    padding: 1%;  
}





.menu2{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(2, 25, 74, 0.994);
    padding: 1%;  
    border-top: 0.10em solid white;
    border-bottom: 0.10em solid white;
}

.card-body{
    background-color:#FFFFFF;
    font-size: 13px;
    color: rgb(0, 0, 0);
    border-radius: 1rem;
    line-height: 0.50rem;
}

.darkMode{
    background-color: #898989;
}

.darkMode .card{

    background:#afb0b1;
}


.darkMode .card-body{
 background-color:#afb0b1;

}

.card, #productoCarrito1{
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.card:hover{
    box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
    transition: all .3s;
}

.darkMode h3{
    background-color: #FFFFFF;
}